<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <style>
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}
a{
  color:white;
}
.btn:hover {
  background-color: RoyalBlue;
}
html,body { 
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


    </style>
  </head>
  <body>
    <header class="header">
            
      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary-main">PIVOT TABLE</span>
          <span class="heading-primary-sub">Demo</span>
        </h1>
        
      </div>
      <div class="brand-box">
        <span class="brand">Flat Table Data</span>
      </div>
    </header>
    
    
    <div class="icon-bar">
      <a routerLink="/"><i class="fa fa-home"> Home</i></a> 
     <a href="#"><i class="fa fa-bars"> Format Cells</i></a>
      <a href="#"><i class="fa fa-bar-chart"> Charts</i></a> 
      <a href="#"><i class="fa fa-square-o"> Grid </i></a> 
      <a href="#"><i class="fa fa-file"> Fields </i></a>
      <a href="#"><i class="fa fa-bar-chart"> Connect</i></a> 

    </div>
    <br><br>
    <div style="text-align: center;">
    <button class="btn btn-primary"><a routerLink="/condition">Condition</a></button>
    &nbsp;
   <button class="btn btn-primary"><a routerLink="/format">Formatting</a></button><br><br>
   </div>
    <router-outlet></router-outlet>

  </body>
</html>